# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
staticfiles/

# Environment variables
.env

# Uploaded files
media/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.vercel
.env*
